@model XPGroup.Models.Category
@using XPGroup.Models
@{
    ViewBag.Title = "Add";
}
<div class="content-box">
    <!-- Start Content Box -->

    <div class="content-box-header">

        <h3>Add Category</h3>
    </div>

    <div class="content-box-content">
        @using (@Html.BeginForm())
        {
            <div class="tab-content default-tab">

                <p>
                    <label>Category name</label>
                    @Html.TextBoxFor(c => c.Name, new { @class = "text-input large-input" })
                    @Html.ValidationMessageFor(c => c.Name)
                </p>
                <p>
                    <label>Parent Category</label>
                    @Html.ParentChildDropdownlistFor(c => c.ParentId, (List<SelectListItemParent>)ViewBag.Categories, new { @class = "dropdownlist" }, "ddlparent", "ddlchild", true, "--Root category--", true)
                </p>
                <p>
                    <label>Sort Order</label>
                    @Html.TextBoxFor(c => c.SortOrder)
                    @Html.ValidationMessageFor(c=>c.SortOrder)
                </p>
                <p>
                    <label>Description</label>
                    @Html.TextBoxFor(c => c.Description, new { @class = "text-input large-input" })
                    @Html.ValidationMessageFor(c => c.Description)
                </p>
            </div>
            <div class="button_bottom">
                <div class="listbutton">
                    <input type="submit" value="Save" class="button" />
                </div>

                <div class="listbutton">
                    <a href="/Admin/Category" class="button_cancel">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>