@model XPGroup.Models.ViewModels.NewsViews
@using XPGroup.Models.ViewModels
@{
    ViewBag.Title = "Index";
}

<div class="content-box">
    <!-- Start Content Box -->

    <div class="content-box-header">
        <div class="top_box_content_left">
            <span>Category &nbsp;&nbsp;</span>
            @Html.ParentChildDropdownlist("categorysearch", (List<SelectListItemParent>)ViewBag.Categories, new { @class = "dropdownlist" }, "ddlparent", "ddlchild", true, "--All category--", true)
        </div>
        <div class="top_box_content_right">
            <div id="wrapper_search">
                <span>Search by title &nbsp;&nbsp;</span>
                <input id="txtSearchbox" class="txtSearchbox_news" type="text" name="txtSearchbox" value="" />
                <div id="button_search_product"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content-box-content">

        <div class="tab-content default-tab">

            <div class="notification attention png_bg" style="display: none">
                <a href="#" class="close">
                    <img src="/Content/images/admin/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
                <div id="message_notification">
                </div>
            </div>
            <table class="admin_management">

                <thead>
                    <tr>
                        <th>News Title</th>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var parent in @Model.Newss)
                    {
                        <tr>
                            <td>@parent.Title</td>
                            <td>@parent.CategoryName</td>
                            <td>
                                <!-- Icons -->
                                <a href="/Admin/ManageNews/Edit/@parent.NewsId.ToString()" title="Edit">
                                    <img src="/Content/images/admin/icons/pencil.png" alt="Edit" /></a>
                                <a class="delete" ref="/Admin/ManageNews/Delete" href="@parent.NewsId.ToString()" title="Delete">
                                    <img src="/Content/images/admin/icons/cross.png" alt="Delete" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pagination">
                @Html.Paging(@Model.AllItemsCount, 2, 10, "number", "button_paging")
            </div>
            <!-- End .pagination -->
            <div class="clear"></div>
            <p class="button_wrapper"><a href="/Admin/ManageNews/Add" class="button" title="Add new news">Add news</a></p>
        </div>
    </div>
</div>